[2014-08-04 21:07] ai opened #1 "Add plugin to PostCSS README"
Please, be free to send PR and put your project here: https://github.com/postcss/postcss#built-with-postcss

[2014-08-05 19:38] #1 closed, assigned to nobody

[2014-08-09 10:30] Swatinem opened #2 "css variables within calc hang"
When i use postcss-calc without prior using postcss-custom-properties, the process just hangs.

Try it like this:

[code]

If I remove the `var()` or first resolve it via postcss-custom-properties, it works fine

[2014-08-10 18:59] #2 closed, assigned to nobody

[2014-10-01 06:00] MoOx opened #3 "Add gnuMessage style with source of the error"
[code]

returns `SyntaxError: calc(): missing closing ')' in the value 'calc(1rem * 1.2'`

We need to add file:line:column

[2014-10-15 08:23] #3 closed, assigned to MoOx

[2014-11-03 22:03] ai opened #4 "Remove gnuMessage"
Why you use `gnuMessage`? PostCSS already return error message in GNU format.

[2014-11-20 13:39] 7studio opened #5 "Add precision option"
For the moment, the plugin uses `5` as a magic number to define the number of digits of precision.
I didn't find any line in the documentation which explains this choice but in some cases it doesn't make sense : [Em values are rounded or truncated at 2 decimals](https://connect.microsoft.com/IE/Feedback/Details/1003699).
I'm sure that if we search in your experience, we will find many problematic

[2014-11-20 15:15] MoOx opened #6 "Add `preserve` option"
According to this issue https://github.com/reworkcss/rework-calc/pull/3 it seems useless
But according to this issue https://github.com/postcss/postcss-calc/issues/5 it make sense

[2014-11-25 06:41] #5 closed, assigned to nobody

[2014-11-25 06:41] #6 closed, assigned to nobody

[2014-11-25 06:42] #4 closed, assigned to nobody

[2015-04-08 23:32] kabadesu opened #7 "preserve: true outputting some declarations twice."
If I do this in my source

[code]

The result will be

[code]

It should just leave the declaration as-is.

[2015-04-08 23:37] kabadesu commented on #7
Sorry I think I've logged this in the wrong place. Should I log it over at [reduce-css-calc](https://github.com/MoOx/reduce-css-calc) instead?

[2015-04-09 04:36] MoOx commented on #7
Nope this issue belong to this plugin which is not testing the value before cloning & changing it.

[2015-04-09 05:17] #7 closed

[2015-04-09 05:19] MoOx commented on #7
Patch released as 4.0.1

[2015-04-14 21:11] teddybradford opened #8 "Support exponential math operations"
Has there been any discussion about including support for more advanced math operations such as exponents? For example: `calc(2 ^ 3)` or `calc(var(--x) ^ 3)`.

Exponents are extremely useful for setting up things like modular scales. However, right now you have to multiply long strings of variables together to achieve the same result, e.g., `calc(2 * var(--y) * var(--y) * var(--y) * var(--y))`. As

[2015-04-15 04:34] MoOx commented on #8
The idea of this plugin is just to reduce valid existing CSS and I didn't see that in the spec last time I checked. Is there any stuff about that now ?

[2015-04-15 04:43] teddybradford commented on #8
I'm not sure. I was simply curious about the scope of this project and whether or not it might be extended to support other math operations. Perhaps in the future a `postcss-calc-extended` fork that goes beyond the scope of the W3C spec may be considered.

[2015-04-15 04:52] MoOx commented on #8
FYI this plugin is nothing more that a wrapper of https://github.com/MoOx/reduce-css-calc.
We may add this as a disabled option by default.

[2015-05-23 13:13] TrySound opened #11 "Use PostCSS 4.1 API"
PostCSS Plugin Guidelines are mandatory right now. Because all of rules are about ecosystem health.

[2015-06-03 11:34] ai commented on #11
@MoOx I fix Guidelines :) https://github.com/postcss/postcss-calc/pull/12

[2015-06-03 12:21] #11 closed

[2015-07-07 23:02] 7immy opened #13 "Postcss-calc does not calculate postcss-simple-vars values properly."
If the postcss-calc plugin is placed before postcss-simple-vars then postcss-calc doesn't calculate the values.

Perhaps you could add a notification on readme to place postcss-simple-vars before postcss-calc.

[2015-07-08 05:09] MoOx commented on #13
This might happen with a loooot of modules in various places. This issue as already been raised and is not easy to solve. For now we consider it's up to your brain to think about this kind of issues.

[2015-07-08 05:09] #13 closed

[2015-07-08 16:20] 7immy commented on #13
Cheers, I'll consult my brain next time.. Great work BTW!

[2015-07-16 00:56] fraincs opened #14 "Deal with %"
If I write calc( 100% - 50px - 20px ) it outputs calc ( 100% - 50px - 20px ) instead of calc( 100% - 70px )

[2015-07-16 05:15] MoOx commented on #14
Please use `calc( 100% - (50px - 20px))` and it should be ok.

[2015-07-16 05:15] #14 closed

[2015-10-28 23:54] oleersoy opened #18 "[Question] Floor and Ceil?"
Hi,

I'm wondering if there's a way to round pixel calculations up or down.  For example the following:

[code]
I would like it to be:
[code]

TIA,
Ole

[2015-10-29 05:11] MoOx commented on #18
postcss-calc is just an optimizer, so it's probably not its job to handle this kind of changes. There is probably other plugins for this.

[2015-10-29 05:11] #18 closed

[2016-01-06 01:19] thejameskyle opened #19 "Option to throw error when calc cannot be resolved"
I would like to be able to ensure that calc can always be resolved in our styles. Would it be possible to add an option to throw if a calc cannot be resolved?

[2016-01-06 06:24] MoOx commented on #19
This plugin is more an optimizer.
What you want is more linting. So maybe you can check stylelint (if there is a rule that can make you happy) or you can add very simple plugin to check that there is no "calc(" at all in your stylesheets. Should take 3 or 4 lines.

[2016-01-06 06:34] thejameskyle commented on #19
I disagree that this is a linting issue. You *need* to compile the code in order to check this accurately as the way the code gets compiled directly affects if this error would be thrown or not (a trivial example being sass style variables). The alternative is linting your compiled code which doesn't make any sense.

[2016-01-06 06:52] MoOx commented on #19
PostCSS works on an AST, so you can pipe a plugin right after this one to check what you want even before the end of the "compilation" (stringify the AST to real CSS).
Anyway, feel free to make a PR for this if you want. PR are always welcome :)

[2016-01-06 06:54] MoOx commented on #19
FYI: this plugin does not "resolve" calc(), but "reduce them".
Example: `calc(calc(calc(1rem * 0.75) * 1.5) - 1px)` will give you `calc(1.125rem - 1px)`. Is this resolved? :)

[2016-01-07 08:05] #19 closed

[2016-01-07 22:51] thejameskyle opened #21 "Media Query Calc"
Since this plugin only looks at declarations if you try using it for `@media` queries it won't work.

[code]

Reading the specification this should be valid

[2016-01-08 06:02] MoOx commented on #21
The thing is, this plugin make sense when you have something to resolve (eg: after postcss-custom-properties). And if you don't (custom props don't work in mq) it does not have sense. Not sure it's relevant to handle those resolution.

[2016-01-08 06:56] thejameskyle commented on #21
Yeah, but your are supporting an ecosystem that goes further than just the spec itself. Take postcss-simple-variables for example (which is the reason I want this) you immediately have a scenario where this makes sense.

Considering how little code it takes to support this and how I've already written it in #22 I don't see any reason you shouldn't support this case.

[2016-01-08 09:14] #21 closed

[2016-01-20 03:31] corysimmons opened #23 "Does this remove something multiplied by 0?"
For instance, will `calc(10px + 100% * 0)` become `10px`?

[2016-01-20 07:41] MoOx commented on #23
Like this `calc(10px + (100% * 0))` it will.

[2016-01-20 07:41] #23 closed

[2016-01-20 12:09] corysimmons commented on #23
It doesn't take order of operations into account?

[2016-01-20 12:13] MoOx commented on #23
Not yet. PR welcome to improve this on this repo https://github.com/MoOx/reduce-css-calc

[2016-01-20 12:24] corysimmons commented on #23
You're implying i know how to code or do math

![](https://i.imgur.com/q95dT5G.png)

[2016-01-20 12:28] MoOx commented on #23
You can learn thanks to search engines on the internet :)

[2016-01-24 00:27] corysimmons opened #24 "Why is default precision 5?"
Re: https://github.com/MoOx/postcss-cssnext/issues/254

`calc(100px / 3)` = `33.33px` in IE

`calc(100px / 3)` = `33.328px` in everything else

The consequence of this is http://codepen.io/corysimmons/pen/MKQVGp?editors=1100 is a 3 column grid in everything but IE, and with cssnext turned off, it works in IE.

Is there a particular reason the default precision is 5? If not, would it be possible to

[2016-01-24 19:20] MoOx commented on #24
Did you take a look at the changelog ?
You would have found this https://github.com/postcss/postcss-calc/issues/5.
You have an option to handle this.

[2016-01-24 19:36] corysimmons commented on #24
Eh no, my bad, thanks

[2016-01-24 19:36] #24 closed

[2016-01-24 19:40] corysimmons commented on #5
Precision 2 makes `100 / 3` work with IE. I can use the precision option though. no problem

[2016-02-16 08:53] dikmax opened #25 "Further optimization"
We can calculate expressions in inner parenthesis to produce simpler result

Example:

[code]

Could be expressed as:

[code]

or

[code]

if rounding applied.

[2016-02-16 09:03] MoOx commented on #25
What is the point of this? Browser that will understand vw probably understand calc().
And not even sure this is correct. vw is a dynamic unit, I don't know how you end up with this weird result.
Could you add some details?

[2016-02-16 15:35] dikmax commented on #25
Point is minimization. Maybe it's better to move this ticket to cssnano. But then I thought which project suits better I choose this one, cause it does almost same thing.

[2016-02-17 06:33] MoOx commented on #25
Can you provide detail about the algorithm here? Or just how you end up with this result. I am not following the result your mentioned.

[2016-02-17 08:35] dikmax commented on #25
That's quite easy, just distributive property applied.

[code]

[2016-02-17 08:39] MoOx commented on #25
Not sure that `((100vw - 320px) / 448)` can be converted to `((100/448)vw - (320/448)px)`. That's seems too easy. Did you try the result in a browser just to see?

[2016-02-17 08:49] dikmax commented on #25
Of course, steps in the middle are not working. I've provided them just to show idea of transformation. You have to calculate (`0.2232142857vw - 0.7142857143px`) to make it working.

[2016-02-17 08:50] dikmax commented on #25
But when it's calculated they provide same result, i've checked.

[2016-02-17 09:06] MoOx commented on #25
Feel free to make a PR to https://github.com/MoOx/reduce-css-calc if you have something solid (a jsfiddle with detailed step would be appreciated as well as test).

[2016-04-05 11:58] alienlebarge opened #26 "Support for multiline calc()"
Currently, postcss-calc only do the job when `calc()` value is on one line. But if it's on more that one line, it doesn't work.

#### One line
*input.css*
[code]

*output.css*
[code]
#### Multi line
*input.css*
[code]

*output.css*
[code]

Is it possible to support

---

There's a workaround in the meantime.
I use *[perfectionist](https://github.com/ben-eb/perfectionist)* before *postcss-calc*

[2016-04-05 13:19] MoOx commented on #26
Yeah should not be that hard. PR welcome in https://github.com/MoOx/reduce-css-calc.

[2016-04-10 20:19] #26 closed

[2016-06-09 11:31] dennisfrank opened #28 "Missing unit after 0"
I use postcss-calc in [cssnano](http://cssnano.co/) and `calc(50% - 50vw + (100vw - 100vw) / 2 + 1em)` gets _optimized_ to `calc(50% - 50vw + 0 / 2 + 1em)`. Unfortunately, the unit after `0` is missing and the browser does not calculate the `calc()`statement.

`calc(50% - 50vw + 0vw / 2 + 1em)` would be the correct optimization.

Or even better: `calc(50% - 50vw + 1em)`

`0` vs `0`+ unit.

(If you

[2016-06-09 11:48] MoOx commented on #28
PR welcome to improve this behavior in https://github.com/MoOx/reduce-css-calc

[2016-06-09 12:28] dennisfrank commented on #28
@MoOx Done: https://github.com/MoOx/reduce-css-calc/pull/11

Thanks!

[2016-06-09 14:11] MoOx commented on #28
Fixed by https://github.com/MoOx/reduce-css-calc/commit/1ce8bd090334a790eb91785a78403af6fcd2f4d1

[2016-06-09 14:11] #28 closed

[2016-07-16 06:08] RyoIkarashi opened #30 "Using postcss-calc inside postcss-strip-units"
When I put `calc()` function inside `strip()`, I get an error saying `Couldn't parse strip(calc(24px * 2)). Got NaN`.

I think this error occurs because `postcss-strip-units` is added before `postcss-calc`.
So I added postcss-calc twice before and after `postcss-strip-units`, but unfortunately it didn't work at all.

Any idea to achieve this or workaround?

The code is something like below.

varia

[2016-07-18 04:43] MoOx commented on #30
Sorry but there is no easy fix or workaround for this.
You should not try to mix unofficial and optimisation stuff. Also what you are doing seems like a bad idea. Maybe try to write your own plugin instead.

[2016-07-18 04:43] #30 closed

[2016-08-25 00:59] mjschlot opened #32 "Remove "calc" from unresolved nested calcs"
To provide a little context and very simple example -- while keeping this short and to the point -- I am using "postcss-calc" and "postcss-advanced-variables" together (but I fully expect this issue would exist with any simply variable plugin in postcss).

Simple code to demonstrate issue:

$b: calc(10vw + 80px * 2/3);
.test {
	height: calc(21vh + $a + $b);
}

With PostCSS I evaluate the variables

[2016-08-26 10:19] MoOx commented on #32
poke @ben-eb
I guess we can handle that very easily in reduce-css-calc?

[2016-08-26 10:26] ben-eb commented on #32
Yeah, something like this probably;

[code]

[2016-08-26 11:00] #32 closed

[2016-08-26 11:04] MoOx commented on #32
@mjschlot please try by reinstalling postcss-calc (you should get reduce-css-calc@1.3.0 which handles this).

[2016-08-26 11:06] ben-eb commented on #32
@mjschlot Also, thank you for the effort that you put into this report, helps immensely. 💯

[2016-08-26 12:24] mjschlot commented on #32
Very nice! Thanks for the work guys, and doing it so quickly!

[2016-10-14 20:34] ciquar opened #33 "Mixed units of time do not reduce"
A property value of `calc(1s - 50ms)` will not be reduced. Since there's functionally no difference between `950ms` and `.95s`, I would expect the latter as the output since it can be expressed in fewer characters.

This came to my attention because I'm using cssnano, which reduces time values such as `100ms` to `.1s`, or `.045s` to `45ms`. The reduction occurs prior to postcss-calc and may result

[2016-10-15 18:36] MoOx commented on #33
PR welcome to https://github.com/MoOx/reduce-css-calc

[2016-11-27 08:24] mitsuru793 opened #34 "I cannot use under-score before $ mark in id selector."
I cannot use under-score before $ mark in id selector. Why?
I use this plugin with precss.
https://github.com/jonathantneal/precss

input
[code]

output
[code]

If I don't use calc, I can use both of under-score and hyphen.

input
[code]

output
[code]

[2016-11-28 06:42] MoOx commented on #34
postcss-calc is supposed to work only where the real calc() works. So it should not work for both case. Not sure why it's working for the first selector. Maybe because you use some non standard syntax.

[2016-11-28 06:42] #34 closed

[2016-11-28 08:16] sato-sm commented on #34
@MoOx
Thank you very much for answering.

[2016-11-28 08:16] mitsuru793 commented on #34
@MoOx
Thank you very much for answering.

[2016-12-22 13:55] celiolatorraca opened #35 "Problem on variables with `calc` on the name"
Hi,

First of all, thanks for this incredible lib. Saved me lots of sleeping hours.

I'm using it to reduce some `calc` and use the values into some pseudo-selectors...
Unfortunately i think i probably found a bug.

I have a variable called `$offset-calc`, and after the `postcss-calc` runs its replaced to `$offset-`...

Here is an example of a mixin i made that uses it:

[code]

[2016-12-22 13:59] MoOx commented on #35
That's a bug indeed. Please report this bug to https://github.com/MoOx/reduce-css-calc.
A PR with a failing test will be even better ;)

[2017-03-09 09:02] lukasoppermann opened #37 "Nested calc not resolved (with mixed units)."
Hey, so I have something like this:

[code]

This code is generated, from individual `calc` statements, which is why there is a calc and not only a `()` within the code.

Since safari can't handle `calc` within `calc` and starts crying, I would love this to be resolved to:

[code]

Any idea why it does not work? Is this because of the mixed unit? Couldn't this be handled, so that `calc` is reduced

[2017-03-09 09:11] MoOx commented on #37
It's actually working in [cssnext playground](http://cssnext.io/playground/) (which use this module).

<img width="853" alt="screen shot 2017-03-09 at 10 11 00" src="https://cloud.githubusercontent.com/assets/157534/23743379/b8a83c42-04b0-11e7-86c5-09ce8acf43b4.png">

[2017-03-09 09:11] #37 closed

[2017-03-09 09:17] Semigradsky commented on #37
Looks like Safari does everything right https://www.w3.org/TR/css3-values/#calc-syntax
Maybe it's old syntax?

[2017-03-09 09:17] lukasoppermann commented on #37
This is good news. Can you maybe give me a hint how I can figure out why it is not working for me?

[2017-03-09 09:26] MoOx commented on #37
Please provide node/npm/postcss/cssnext version and more code.

[2017-03-09 09:37] lukasoppermann commented on #37
Hey @MoOx, thanks:

- node v7.7.2
- npm 4.1.2
- gulp-postcss 6.3.0
- postcss-calc 5.3.1
- cssnext 2.9.0

I am using gulp:

[code]

The css comes from `modular-scale.css` in the for of variables like those:

[code]

I hope this helps?

[2017-03-09 09:41] lukasoppermann commented on #37
Okay, move it above css next fixed it, I think.

[2017-03-09 09:45] MoOx commented on #37
FYI, postcss-calc is included in cssnext. Same for postcss-color-function. Also you should probably use cssnano at the end of your stack...

[2017-03-09 09:50] lukasoppermann commented on #37
@MoOx thanks, I did not know this.

[2017-03-22 11:29] ReklatsMasters opened #38 "update `reduce-css-calc` version"
actual is `1.3.0`.

[2017-03-23 05:47] MoOx commented on #38
Semver will make this automatic thanks to the caret before the version.

[2017-03-23 05:47] #38 closed

[2017-05-08 20:30] ben-eb commented on #25
Resolved in https://github.com/postcss/postcss-calc/releases/tag/v6.0.0.

[2017-05-08 20:30] #25 closed

[2017-05-08 20:31] ben-eb commented on #33
Resolved in https://github.com/postcss/postcss-calc/releases/tag/v6.0.0.

[2017-05-08 20:31] #33 closed

[2017-05-08 20:31] ben-eb commented on #35
Resolved in https://github.com/postcss/postcss-calc/releases/tag/v6.0.0.

[2017-05-08 20:31] #35 closed

[2017-05-08 20:33] ben-eb commented on #25
Will be resolved for version 4, see https://github.com/postcss/postcss-calc/releases/tag/v6.0.0.

[2017-06-14 23:15] SWBennett06 opened #39 "'Selector' option throws TypeError"
With the 'selector' option set to true using 6.0.0, the plugin throws the following error. This occurs even without any selectors being built with calc() in my stylesheets.

[code]
Running through the gulp-postcss 7.0.0, which is using PostCSS 6.0.0

[2017-07-03 22:59] TheSisb opened #40 "Cannot wrap inner value in negative"
Not sure how to title this issue correctly, but the issue is if you do something like
[code]

postcss-calc gets mad and says:
[code]

But I think this should work... and it did in older versions.

[edit] Added a test to verify, you can see the error if you attempt this test: https://github.com/TheSisb/postcss-calc/commit/375688acbf1198f3b9a01a67fb5160a97022b491

[2017-07-09 00:25] mjschlot commented on #39
The issue appears to be related to selectors like:
`abbr[title]`
This situation exists in packages like normalize.css (https://github.com/necolas/normalize.css/blob/master/normalize.css).

Possible fix would be to test if node.value is undefined in transform.js
`if (node.type === 'attribute' && node.value !== undefined) {`

I'm not familiar enough with postcss to know if this is the best fix thoug

[2017-07-10 12:55] wenkanglin commented on #39
I has same issue. Does anyone know how to solve this problem ?

[2017-07-10 12:58] mjschlot commented on #39
@wenkanglin  I know of two options:
- Avoid the use of attribute selectors that do not have a value (e.g. abbr[title])
- Or, the code needs to be updated like I suggested in my last post. I would submit a pull request but I really don't know if my fix the best way to address this or not.

[2017-07-10 13:17] wenkanglin commented on #39
Thank you for answer. The first option is correct fix the issue for me. But we often inevitably encounter code like below:
[code]
@mjschlot you should submit a pr and wait merged by author. :+1:

[2017-07-12 07:05] Kovensky commented on #40
It seems `postcss-calc` no longer supports parenthesized expressions -- any nested parenthesis needs to be itself `calc()`.

[2017-07-28 16:00] uvuwolverine opened #41 "Ignoring proper order of operations"
Found an issue where it's removing the inner parenthesis needed for correct ordering of calculations. For example, the following calculates the width minus the scroll bar(which some browsers include in the vw while others don't:
`width: calc(100vw - (100vw - 100%))`
That should return the width of the window minus the scroll bar, but the inner parenthesis are removed and it returns:
`width: calc(0

[2017-08-24 13:59] lkraav commented on #40
What if you don't know the incoming unit, in the case of a mixin?

[2017-09-06 12:36] andyjansson commented on #41
I'd like to point you to the following issue: https://github.com/MoOx/reduce-css-calc/issues/28

It's not so much that it's ignoring the order of operations as it is an incorrect optimisation.

[2017-09-06 12:44] andyjansson commented on #40
This isn't valid CSS. Open up a browser's inspector and it will tell you that it's an invalid property value.

The correct way of doing it is either of the following:

[code]

[code]

[2017-09-18 21:52] darrellhanley opened #42 "Cannot use constant values"
iOS 11 Safari added support for constant declarations for safe areas, eg `constant(safe-area-inset-bottom)` which returns a dynamic value for the amount of margin or padding needed to avoid unsafe areas. Currently, when a constant value is used in calc, it causes postcss to fail generating the following error:

[code]

[2017-09-19 14:15] darrellhanley commented on #42
Seems to be an issue upstream, offhand from [reduce-css-calc](https://github.com/MoOx/reduce-css-calc)

[2017-10-10 08:19] #41 closed

[2017-10-10 08:58] Semigradsky commented on #41
Should be fixed. Just reinstall `reduce-css-calc` dependency.

[2017-10-10 09:46] Semigradsky commented on #39
Fixed in v6.0.1

[2017-10-10 09:46] #39 closed

[2017-11-08 12:42] pravi opened #43 "please add tag for 6.0.1 release"
The last tag in the repo is 6.0.0 and npmjs.com has 6.0.1

[2017-11-09 08:17] Semigradsky commented on #43
Sorry, I always forget to do this. Done!

[2017-11-09 08:17] #43 closed

[2017-11-09 08:40] Semigradsky commented on #42
https://github.com/MoOx/reduce-css-calc/issues/34

[2017-11-26 16:32] Semigradsky opened #44 "`NaN` value when reducing division with custom property"
https://github.com/MoOx/postcss-cssnext/issues/427

Input:
[code]
Output:
[code]

[2017-11-26 16:32] Semigradsky commented on #44
https://github.com/MoOx/postcss-cssnext/issues/427

[2017-11-26 18:09] Semigradsky commented on #44
Fixed in https://github.com/MoOx/reduce-css-calc/commit/483e3557190a767f2db244c3d9e1e00feeacae68

[2017-11-26 18:09] #44 closed

[2017-12-08 13:58] LucasIcarus opened #45 "Support or skip quirk unit？"
I'm using cssnano with postcss-calc in wechat-mini-program development.

Wechat introduces a unique unit called 'rpx' represent 1/750 of the device width.

When using cssnano@4.0.0.rc with postcss-calc, an error

[code]
returned..

[2017-12-08 14:07] LucasIcarus commented on #45
With

[code]

[code]

simple changes in parser.jison, the error above resolved.

In view of rpx is not a standard, any guides about this?

[2017-12-08 19:41] Semigradsky commented on #45
@LucasIcarus How about not use non standard `rpx` and use `vw` instead?

[2018-02-11 12:12] matthias-t opened #46 "Broken `tests` link in README.md"
In the README, at the end of the `Usage` section, the `tests` link has 404'ed.

[2018-02-17 21:24] rodneyrehm opened #48 "support constant() and env()"
Hey there,

in my build setup ([optimize-css-assets-webpack-plugin](https://www.npmjs.com/package/optimize-css-assets-webpack-plugin) using [cssnano](http://cssnano.co/)) I had to disable postcss-calc because it was killing any `calc()` that use `constant()` and `env()` (see [Designing Websites for iPhone X](https://webkit.org/blog/7929/designing-websites-for-iphone-x/)). Note how the `100%` turne

[2018-02-20 12:24] Semigradsky commented on #48
Related to https://github.com/MoOx/reduce-css-calc/issues/34

[2018-03-12 12:23] Aaronphy commented on #48
How to deal with ?

[2018-03-12 13:10] jonathantneal commented on #48
Is there a spec for `constant` yet?

[2018-03-14 07:38] Semigradsky commented on #48
`constant` will not be in the specification ever - it renamed to `env`.
But `env` not in spec yet too
https://github.com/w3c/csswg-drafts/issues/1693
I think that needs one more supported browser.

[2018-04-16 16:54] francoisromain commented on #44
Hello
I still have this error and I don't understand how I should use `reduce-css-calc` to fix it. Can you help?

[2018-05-10 07:17] matthias-t opened #49 "Wrong output for subtraction before parentheses"
How to reproduce:
[code]
Actual output:
[code]
Expected output:
[code]

[2018-05-10 08:11] Semigradsky commented on #46
Thanks!

[2018-05-10 08:11] #46 closed

[2018-05-18 11:41] YikaJ commented on #45
+1.
in that situation, pass the non standard is the best way to do it.

[2018-05-21 12:32] LucasIcarus commented on #45
For now, we create a simple loader to transform the unit and as far as possible to avoid using it.

Thanks you guys.

[2018-05-21 12:32] #45 closed

[2018-05-22 14:20] evvvritt commented on #49
This is a big issue as means it doesn't respect order or operations when using addition/subtraction with multiplication/division:

Input:
[code]
Output:
[code]
:-/

[2018-05-31 22:42] JayCanuck opened #50 "Breaks CSS variables that include "calc" in their name"
It appears that `postcss-calc`is incorrectly matching the word `calc` from within a css variable name.

The source:
[code]

Is being transformed into
[code]

I suspect a more complex [calc match regex](https://github.com/postcss/postcss-calc/blob/master/src/lib/transform.js#L4) would be needed to exclude variables that just contain the word fragment "calc".

[2018-07-17 10:09] evilebottnawi opened #52 "Support `postcss@7`"
:+1:

[2018-08-02 13:40] zoosky commented on #48
See this https://medium.com/@draganeror/iphone-x-layout-features-with-css-environment-variables-d57423433dec for reference.

[2018-08-02 14:02] zoosky commented on #42
Using Framework7 affected by this bug. See https://github.com/framework7io/framework7/issues/2539

[2018-08-02 14:16] zoosky commented on #48
See https://github.com/MoOx/reduce-css-calc/issues/34

[2018-08-08 02:56] MarvinXu commented on #48
does  disabling postcss-calc work? I am trying to find a fix

[2018-08-29 07:15] guylando commented on #48
FYI: I wrote a simple workaround in a comment in MoOx/reduce-css-calc#34

[2018-09-29 07:07] pujiaxun commented on #48
Please update the dependence of reduce-css-calc~
This has been fixed recently
https://github.com/MoOx/reduce-css-calc/pull/48

[2018-10-15 16:28] andyjansson commented on #42
Should be fixed in latest release.

[2018-10-15 16:28] #42 closed

[2018-10-15 16:28] andyjansson commented on #48
Should be fixed in latest release.

[2018-10-15 16:28] #48 closed

[2018-10-15 16:28] andyjansson commented on #49
Should be fixed in latest release.

[2018-10-15 16:28] #49 closed

[2018-10-15 16:28] andyjansson commented on #50
Should be fixed in latest release.

[2018-10-15 16:28] #50 closed

[2018-10-15 16:28] andyjansson commented on #52
Should be fixed in latest release.

[2018-10-15 16:28] #52 closed

[2018-10-15 16:30] andyjansson commented on #8
This plugin will be kept in line with the W3C specification.

[2018-10-15 16:30] #8 closed

[2018-10-15 16:31] andyjansson commented on #40
Closing this since it has already been answered.

[2018-10-15 16:31] #40 closed

[2018-10-25 13:58] evilebottnawi opened #57 "remove space in `var` and default value"
/cc @andyjansson Should postcss-calc remove space in `var` (between name variable and default value) or we should do this in `cssnano`?

Input:
[code]

Output:
[code]

Expected:
[code]

[2018-10-25 14:00] jonathantneal commented on #57
My two cents are to keep things limited to calc.

[2018-10-25 17:03] andyjansson commented on #57
Yeah, out of scope for this plugin.

[2018-10-25 17:03] #57 closed

[2018-10-25 17:53] MartijnCuppens opened #59 "Adding a .eslintrc"
I think we'll need an `.eslintrc` file to ensure the quality and consistency of the javascript code. For example I noticed the mixed usage of single and double quotes in the javascript files.

[2018-10-25 17:59] andyjansson commented on #59
We do have eslint. It's registered in package.json instead of a separate file.

[2018-10-25 18:02] jonathantneal commented on #59
@MartijnCuppens, see https://github.com/postcss/postcss-calc/blob/master/package.json#L26-L29

[2018-10-25 18:02] #59 closed

[2018-10-25 19:18] MartijnCuppens commented on #59
Ok, thanks guys! Love the response time ❤️

[2018-10-27 14:06] MartijnCuppens opened #62 "Allow rounding option"
This option allows users to limit the default precision to what's defined in `precision`, but doesn't round the number if the rounded number isn't equal to the number itself. This may sound a bit vague, so let's demonstrate this with an example:

Let's assume you have configured `precision: 5` and `allowRounding: false`:
- `calc(100% / 3)` will output `calc(100% / 3)` because `calc(100% / 3) != 33

[2018-11-21 01:40] demosglok commented on #48
`.video {
    width: 100%;
    height: calc(width*56.25);
  }`

this produces same error. could we probably update post-css-calc to handle "width/height" also?

[2018-11-21 10:47] demosglok commented on #48
works fine in chrome. and in mobile browsers. i'll retest

[2018-11-21 10:58] guylando commented on #48
where is the reference for this syntax: height: calc(width*56.25)

according to this, its not supported:
https://stackoverflow.com/questions/11243075/css-scale-height-to-match-width-possibly-with-a-formfactor#comment36903688_11243226

[2018-11-28 08:25] leimonio opened #64 "Transformation removes of inner calc"
`ccsnano` offers some configurable optimizations, like `calc`. Using webpack with `optimize-css-assets-webpack-plugin` for production builds results in transforming
`calc(100vh - 5rem - calc(10rem + 100px)`) to `calc(100vh - 5rem - 10rem + 100px)`.

This is not happening though when disabling `calc` optimizations on default preset
[code]

To be more specific I'm trying to solve this issue gatsbyjs

[2018-11-28 12:30] leimonio opened #65 "Unable to install dependencies"
After cloning project locally, I'm not able to install the dependencies with `yarn install`.

Generated error:
`error Couldn't find package "@babel/cli" on the "npm" registry.`

Seems like `del-cli` has a dependency on `registry-auth-token` which requires an auth token to complete npm related actions.

[2018-11-28 17:40] andyjansson commented on #65
Sounds like an issue on your end. `@babel/cli` is very much [on the npm registry](https://www.npmjs.com/package/@babel/cli). As for `del-cli`, it's a dev dependency, and is not required to use the package. As for requiring an auth token, no, it does not.

[2018-11-28 17:40] #65 closed

[2018-11-28 17:53] andyjansson commented on #64
Thanks for the report. Will try to fix so it outputs the correct transformation.

[2018-12-05 13:41] evilebottnawi commented on #64
/cc @andyjansson let's fix this issue and release new version of `cssnano`

[2018-12-21 10:03] andreymal opened #66 "Precision for nested calc is not accurate"
[code]

Expected output:

[code]

Actual output:

[code]

[reduce-css-calc is also affected](https://github.com/MoOx/reduce-css-calc/issues/51)

Note that [it works in Firefox and Chrome](https://jsfiddle.net/3qtd127o/):

![](https://i.imgur.com/J7qSiE1.png)

[2018-12-27 08:50] Semigradsky commented on #66
Just increase `precision` parameter:
https://github.com/postcss/postcss-calc#precision-default-5

[2018-12-27 08:54] andreymal commented on #66
@Semigradsky no, I want precision=5 with correct rounding

[2019-01-20 11:50] leimonio opened #67 "Browserlist support"
This is more a kind of question:
- Would it make sense if `postcss-calc` transformations were based on the browsers support configured through `browserlist`?
- How would this affect `postcss-calc`?
- If `postcss-calc` is not the correct repository to implement such logic, which one would be? Would it be `cssnano-preset-default` or a different one?

For example by using `cssnano-preset-default` we

[2019-01-25 14:00] evilebottnawi commented on #67
@leimonio what transformation of `calc` doesn't work in some browsers, but works in other?

[2019-01-25 14:21] leimonio commented on #67
I mean mostly based on browser support. e.g. there are browsers supporting inner `calc` whereas others not, right? Or otherwise, based on full/partial/not all support enable different strategies of transformations or totally disable them. I'm not sure if this makes sense.

[2019-01-25 14:32] evilebottnawi commented on #67
@leimonio

Yep you are right https://caniuse.com/#search=calc (Known issues), feel free to send a PR

[2019-01-25 17:10] leimonio commented on #67
Sounds good, I'll a look at the repo. Is there something you'd like to share as guidance?
Closing this issue, since it's irrelevant to the scope of this repo.

[2019-01-25 17:15] evilebottnawi commented on #67
@leimonio don't this it is out of scope, because i can't disable some changes in `calc` optimization in `cssnano`, let's open this

[2019-01-25 20:51] leimonio commented on #67
Accidentally closed it twice. I’d like to contribute on that.

[2019-02-07 08:36] SpikeShape opened #68 "Remove units in same-unit-division"
I stumbled across the problem that units are still present although I am dividing by a value with the same unit.

Example:
[code]

Is there a way to work around this issue or is there an option to make it work?

Thanks in advance! I have been using your plugin for several years and it has helped a ton!

[2019-02-07 16:00] andyjansson commented on #68
Do you have the latest version? What you're doing isn't valid.

https://github.com/postcss/postcss-calc/blob/master/src/__tests__/index.js#L562

[2019-02-11 21:00] #68 closed

[2019-03-27 17:13] evilebottnawi commented on #62
/cc @MartijnCuppens problem still exists, can you provide codepen where `33.33333%` !== `calc(100% / 3)`, because browsers already do same

[2019-03-27 18:42] MartijnCuppens commented on #62
I guess this is what you are looking for: https://codepen.io/MartijnCuppens/pen/rREmxN?editors=1010 (For some resolutions the buttons do have the same width, but in many cases they don't)

[2019-03-27 18:46] evilebottnawi commented on #62
hm looks like we potentially can break code

[2019-03-27 18:47] evilebottnawi commented on #62
I think we need new option for this, also i think we should don't round `calc(100% / 3)` by default (it is unsafe).

[2019-03-27 18:54] MartijnCuppens commented on #62
https://github.com/postcss/postcss-calc/pull/61 was about adding an option which can be disabled to keep calc when the rounded version is not the same as the original value. So by default it would have been the same.

[2019-03-27 18:56] evilebottnawi commented on #62
@MartijnCuppens :+1: Can you send a PR again? For next major version we set `allowRounding: false` by default because we potentially can break code, it is bad.

[2019-03-27 18:57] XhmikosR commented on #62
@evilebottnawi You can reopen the PR.

[2019-03-27 18:58] evilebottnawi commented on #62
@XhmikosR still need rebase

[2019-03-27 18:58] XhmikosR commented on #62
That is something @MartijnCuppens can do after you reopen it.

[2019-03-27 20:15] MartijnCuppens commented on #62
It's now rebased

[2019-03-27 20:38] evilebottnawi commented on #62
@MartijnCuppens What do you think about disable round by default as i describe above in next major?

[2019-03-27 21:08] MartijnCuppens commented on #62
@evilebottnawi, the `true` behaviour is the same as it is now (I described this in the PR description https://github.com/postcss/postcss-calc/pull/61#issue-226215914). I could also call it `disallowRounding` and set it to `false` if that's clearer.

[2019-03-27 21:12] evilebottnawi commented on #62
@MartijnCuppens Maybe we can do better:
[code]
?

[2019-03-28 07:47] MartijnCuppens commented on #62
`precision: 'safe'` would still need some kind of precision. Lets say for some reason the generated value would be: `15.35153465435186437435513` (and this is the exact number, no numbers after the last 3). That's a pretty long number, probably something you don't want. This is why I split `precision` & `allowRounding`.

[2019-03-30 04:19] bigmeow opened #76 "[feat] Hope to support new units 'rpx'"
In China, the Wechat applet is very popular. It defines a responsive unit,'rpx'

code:
[code]
I hope the above code will work properly.

Try to modify the following code to make it work
https://github.com/postcss/postcss-calc/blob/185f0fb0618302f2a27d71ee4150341d93e23e5a/src/parser.jison#L17

[code]

Is this proposal acceptable to you?

[2019-03-30 04:50] bigmeow commented on #76
Or users can customize unit validation

[2019-03-30 09:21] evilebottnawi commented on #76
Can you provide link on spec or docs

[2019-03-30 09:22] evilebottnawi commented on #76
And what is unit means

[2019-03-31 09:19] wessberg opened #77 "Parse error with nested calc and CSS custom properties"
The following CSS:

[code]

Leads to the following parser error:

[code]

Looking at the Stack trace, here's the chain of the last few operations leading to the issue:

[code]

Removing the last `*20` part removes the parser error.

[2019-04-03 11:56] #64 closed

[2019-04-03 12:24] #66 closed

[2019-04-03 13:48] evilebottnawi commented on #77
Thanks for issue, it is bug

[2019-04-03 18:16] evilebottnawi commented on #76
rpx !== px and it is non standard, so we just relax parser to avoid throw error on unknown unit

[2019-04-04 13:56] #76 closed

[2019-04-11 18:12] eric1iu commented on #77
Looks like the same error for this:
[code]

[2019-04-11 18:14] evilebottnawi commented on #77
Yes, right now i rewrite plugin and parser, i think release will be on end of week or next week

[2019-05-10 16:45] eric1iu commented on #77
As a workaround, disable `postcss-calc` in `package.json` to pass `gatsby build` in my case.
[code]

Will enable again once this bug fixed. Thanks!

[2019-06-04 13:40] QJan84 opened #87 "Negative value?"
This `calc(-1 * var(--space-xl));` should be a **negative** value.... but the **-1** is ignored!
The output is **3.25em** but should be **-3.25em**.

CSS:
[code]

Gulp Task:

[code]

Any ideas?

[2019-06-04 13:43] evilebottnawi commented on #87
Please provide full css code, i can't undestand problem

[2019-06-04 13:50] QJan84 commented on #87
CSS:
[code]

Gulp Task:

[code]

[2019-06-04 13:55] evilebottnawi commented on #87
What you expected from `calc(-1 * var(--space-xl))`? It is variable, we can change this line, because it is unsafe

[2019-06-04 14:00] QJan84 commented on #87
I multiply by -1 so that the result is negative, ie -3.25em. But it is positive, which should not be, since it is multiplied by -1.

[2019-06-04 14:17] evilebottnawi commented on #87
I still can't understand problem. What should be negative but positive now?

[2019-06-04 15:15] QJan84 commented on #87
I have a css variable with the value 3.25em and I just want to negate it.
For this to work I use calc () and multiply 3.25em by -1. Mathematically, the result would be **-3.25em**. Something does not work and the -1 is apparently ignored.

[2019-06-04 15:21] evilebottnawi commented on #87
I think problem in your code, i can't find here problem

[2019-07-05 11:19] drinchev commented on #77
Btw I have the very same problem without having nested variables :

[code]

This breaks with error :

[code]

I assume having nested calc with no space between breaks it, since

[code]

works normally.

[2019-07-05 11:28] evilebottnawi commented on #77
@drinchev feel free to send a PR

[2019-07-05 12:33] drinchev commented on #77
@evilebottnawi Actually my bug is unrelated to this one.

Just checked and it seems to work with the latest master branch.

[code]

Both tests work on current `master`, but don't pass in `7.0.1` tag.

Any plans to release soon?

*7.0.1* is dependency of the current `cssnano`, which is dependency of the current `create-react-app`.

[2019-07-05 12:34] evilebottnawi commented on #77
@drinchev thanks for investigate looks on this in near future

[2019-07-25 14:50] bakkerjoeri opened #88 "Incorrect calc reduction of `0 - (A - B) / C`"
Given the following CSS:

[code]

Which I expect to become:

[code]

Actually becomes the mathematically incorrect:

[code]

Calculations with the structure `0 - (A - B) / C` are incorrectly reduced to `(-A - -B) - C` while the correct solve is `(-A - -B) / C`.

[2019-07-25 14:59] evilebottnawi commented on #88
bug, PR welcome

[2019-07-28 06:51] qlerebours opened #89 "JisonLexerError: Lexical error on line 1: Unrecognized text"
I've got a NextJS project where I'm using `withCss` and `withSass` that seems to use `postcss-calc` to during the project's build.

When building I've got the following error as soon as I use `calc` functions:

[code]

The source code:
[code]

The `chunk.css` file:
[code]

This is not the first time that I have this error, as I said as soon as I want to use calc, my build fails because of this err

[2019-07-29 08:58] evilebottnawi commented on #89
bug, feel free to send a PR

[2019-07-29 13:16] qlerebours commented on #89
I'd like to, but I really don't know how to fix it

[2019-08-08 05:48] JeromeLin opened #90 "When will the new version be publish?"
It's been nearly five months since merge [PR 69](https://github.com/postcss/postcss-calc/pull/69)

[2019-08-15 10:11] #90 closed

[2019-09-13 02:57] kangw3n opened #91 "Nested calc with css variables"
*thanks @evilebottnawi  for redirection. [#816](https://github.com/cssnano/cssnano/issues/816#issue-492559307)*

I'm encountering an issues while using calc() with  CSS Custom variables where presets automatically remove my nested calc while custom variables is unable to resolve in build time.

Given that:

[code]
when it comes to a css variables

[code]

![Capture](https://user-images.githubuserc

[2019-09-20 23:10] ILokalin commented on #89
I have a similar error in mixins. For solve this problem I use standard math operators for scss/sass (without "calc"):
[code]

[2019-09-27 16:26] hawckins opened #92 "Calc returns 0px, but expected to be 0 with no units"
We have a stylelint "length-zero-no-unit":true enabled so 0 values should not have units associated to it. But calc is returning 0 with units for example calc(2px * 0); is returning as 0px but if zero we need just 0 not 0px. Is there any option which I can enable to get this?

[2019-09-27 16:40] evilebottnawi commented on #92
How it is related to postcss-calc?

[2019-09-27 16:40] evilebottnawi commented on #92
Also `length-zero-no-unit` is ignored calc in new version of stylelint, because it was bug, please update stylelint

[2019-09-28 07:22] binaykmr06 commented on #89
all the **VH** should replace to vh.

It'll work.

[2019-10-01 18:04] #88 closed

[2019-10-02 08:18] bakkerjoeri commented on #88
Hah, awesome! Thanks for picking this up @jasminexie 🎉

[2019-10-22 18:52] seth100 opened #99 "JisonLexerError: Lexical error on line 1: Unrecognized text - Erroneous area"
Hi,

I am using `nuxt.js` and the [RFS](https://github.com/twbs/rfs) unit resizing engine.
After updating to the latest version `v9.0.1` I have the following errors happening for every occorrence of `@include font-size(...);` mixin (see https://github.com/twbs/rfs#input).

E.g.

[code]

generates:

[code]

but in my case, after postcss, it is:

[code]

and the complete errors is:

[code]

Could yo

[2019-10-23 02:49] jasminexie commented on #99
I don't think this is a postcss-calc problem. I've tested `font-size: calc(1.525rem + 3.3vw);` with postcss and postcss-calc (latest versions) and the expression has not been reduced. The [tests](https://github.com/postcss/postcss-calc/blob/master/src/__tests__/index.js) in this project also cover similar cases.

[2019-10-23 04:16] jasminexie opened #100 "New release?"
Hi! I'm using postcss-calc in one of my company projects, and we've encountered a few issues with the parser, most of which were related to custom properties, like (https://github.com/postcss/postcss-calc/issues/77, https://github.com/postcss/postcss-calc/issues/91). I found that these have been fixed in the recent refactor, but the patch has not been released.

This is an important fix for many u

[2019-10-23 06:17] seth100 commented on #99
Great, thank you for the info

[2019-10-23 06:17] #99 closed

[2019-10-23 10:27] evilebottnawi commented on #100
@jasminexie hi, in my todo list, a lot of work and nobody want to help

[2019-10-24 03:09] jasminexie commented on #100
Thank you for the hard work on this repo. If there's anything the community can do I'll be happy to help. I'll be watching this for updates.

[2019-10-24 10:51] evilebottnawi commented on #100
@jasminexie we have other bugs https://github.com/postcss/postcss-calc/issues, feel free to pick up any and send a PR

[2019-10-28 06:46] jasminexie commented on #100
Hi, I've looked through the issues and run a few tests with the current master branch. #91, #89, #77 are all fixed with the recent refactor.

I've run a local test with the latest master of `postcss-calc` and the latest version of `postcss-custom-variables`. #87 reduces correctly, and I believe is fixed.

Most of the issues mentioned above already have test cases covering them, but I can add more

[2019-10-28 10:42] evilebottnawi commented on #100
@jamiebuilds Thanks

[2019-10-29 07:49] rrhythmsharma commented on #77
@wessberg, Thanks for opening this issue. I was also struggling with same calc() issue inside CSS file

[2019-11-07 11:32] evilebottnawi commented on #100
Please look here https://github.com/cssnano/cssnano/issues/833, postcss-calc is part of cssnano

[2019-11-28 05:50] rahulvanmali21 opened #101 "JisonLexerError: Lexical error on line 1: Unrecognized text"
1: 1.6em + 0.75rem2px
^...........^
    at D:\css\app.css:31141:3
    at Object.parseError (D:\DigitalStationary\node_modules\postcss-calc\dist\parser.js:1164:15)
    at Object.lexer_parseError [as parseError] (D:\DigitalStationary\node_modules\postcss-calc\dist\parser.js:2297:44)
    at Object.lexer_next [as next] (D:\DigitalStationary\node_modules\postcss-calc\dist\parser.js:3292:22)
    at Obje

[2019-11-28 11:21] ruibarbosareb commented on #101
same mistake.
Any solution?

[2019-11-28 11:46] iamnimnul commented on #101
Same here ;)

[code]

I'm using parceljs 1.12.4, node v10.16.0, npm 6.9.0 on docker node:10-alpine image. It's bootstrap code causing a problem:
https://github.com/twbs/bootstrap/blob/v4.3.1/dist/css/bootstrap.css#L1860
or
https://github.com/twbs/bootstrap/blob/v4.3.1/scss/_variables.scss#L495

[2019-11-28 12:12] iamnimnul commented on #101
Solution is on parceljs website:
https://parceljs.org/css.html#set-cssnano-minify-config

create a file `cssnano.config.js` next to package.json with a content:

[code]

[2019-11-29 14:34] jasminexie commented on #101
The current master branch of postcss calc has fixed these errors. I believe there are difficulties that prevent the maintainer from publishing; you can either specify postcss calc to point to this github repo, or you can disable it.

[2019-11-29 14:38] evilebottnawi commented on #101
https://github.com/cssnano/cssnano/issues/833

[2019-12-17 20:16] GreenGremlin commented on #77
I get a similar error when using css-loader's @value properties in calc functions.

[code]

Results in this error

[code]

The @value properties are processed by css-loader, which runs after postcss-loader. If nothing else, it seems appropriate for postcss-calc to just ignore calc values that fail to parse.

[2019-12-17 21:25] GreenGremlin commented on #77
I was able to work around my issue by including the postcss-modules-values plugin before postcss-calc.

[2020-01-10 01:33] alecmarcus commented on #100
I've run into #87, but commenting here because it seems more relevant. Is there anything stopping the next release from `master`? Would be great to have the fix for all these issues. Anything I can do to help?

[2020-01-10 01:50] alecmarcus commented on #87
Just to elucidate this problem, @evilebottnawi...

Multiplying any number by a negative number **switches its positivity.**

Which means @QJan84's code, which is multiplying `-1` by `var(--space-unit)`, or `3.25em`, should return a negative number — regardless of whether a variable is used. *Anything* multiplied by `-1` should become negative, this is a rule of mathematics, which postcss-calc curr

[2020-02-05 22:12] HZooly commented on #77
Any example of this for removing postcss-calc from Gatsby build please? I can't achieve this...

[2020-02-14 21:21] mcfanng commented on #91
Yes I have the similar issue.
It seems as though when using nested vars in a calc with parentheses, the parentheses get removed which results in an incorrect calculation. Here is the case I am currently having in .scss file.
Before Pack:

[code]
After pack:

[code]
If you notice that `--body-height` value went from `calc(100vh - (var(--footer-height) + var(--footer-vertical-padding)))` to `calc(10

[2020-02-17 15:18] Semigradsky commented on #87
@alecmarcus I tried this code: `calc(-1 * var(--space-xl))` and it reduced correctly to `calc(-1*var(--space-xl))`. Maybe you can provide working example?

[2020-02-18 07:05] Semigradsky commented on #77
This bug happens because 'function' regexp not matching function which has many brackets inside: https://github.com/postcss/postcss-calc/blob/6260789750bbf73006190ef00ab43abfb278b4dc/src/parser.jison#L13

As I understand it is not possible to match nested brackets by regex so it should be rewritten from regex.

[2020-02-18 08:26] Semigradsky commented on #100
@jasminexie @alecmarcus
https://github.com/postcss/postcss-calc/releases/tag/7.0.2

[2020-02-18 08:26] #100 closed

[2020-02-19 09:26] wufeng87 commented on #89
same problem here. I use `vh`.
[code]

[2020-02-19 11:01] Semigradsky commented on #89
@wufeng87 could you provide part of css code where you get this error?

[2020-03-09 14:43] wessberg opened #103 "Regression in v7.0.2 when combing calc with CSS Custom Properties"
Consider the following CSS:

[code]

With `postcss-calc` v7.0.1, the value of `--a` will be unchanged which, since `var(--b` is a dynamic value that may change.

However, in v7.0.2, it will turn into:

[code]

This is untentional since it discards the `var(--b)` expressions entirely from the resulting property value.
This error can be reproduced [here](https://postcss-repl.surge.sh/) when checking

[2020-03-12 18:30] dgp1130 opened #104 "calc() breaks when using 3+ variable fallbacks"
From downstream issue https://github.com/cssnano/cssnano/issues/880 which is from downstream issue https://github.com/angular/angular-cli/issues/16910.

Using a `calc()` command with 3+ variable fallbacks seems to break the parser.

For example, paste the following code into the CSS Nano playground (which I'm told uses `postcss-calc` via `cssnano-preset-default`:

[code]

Then look at the JavaScri

[2020-03-13 10:22] Semigradsky commented on #104
The same issue: #77

[2020-03-17 15:44] nachogarcia commented on #89
Same here, using Nuxt. `min-height: calc(100vh - $footer-height - $header-height - $header-margin);`

[2020-03-19 08:54] binaykmr06 commented on #89
What is 9 in 9@size-8

[2020-03-19 08:54] binaykmr06 commented on #89
use variables in _ not in -

[2020-03-19 12:38] while0pass commented on #77
I get the following error:
[code]

[code]

[2020-03-19 13:08] while0pass commented on #103
After transition from v7.0.0 to v7.0.[12], postcss-calc got a regression bug. Now I get the following error, though it has never been raised before:
[code]

[code]

[2020-03-19 16:45] ktabors commented on #87
The react-spectrum team at Adobe ran into this issue too. I wrote a postcss-calc test to try to reproduce this and it passed. I think this is an interaction with another library. In our code we found `calc(var(--space-xl) * -1);` worked. One of my colleges is looking at https://github.com/cssnano/cssnano/issues/816 as a possible problem since it caused issues for us elsewhere.

[2020-03-27 15:23] abstractvector commented on #91
I raised an issue on cssnano (https://github.com/cssnano/cssnano/issues/628) but believe the issue lies upstream from there in this repo.

I am able to reproduce the same behavior, that the following two CSS styles produce different outputs (confirmed in Chrome 80 and Firefox 74 on Mac OS 10.15.3):

[code]
Computed: `padding-bottom: 276.906px` (correct)

<img width="656" alt="Screen Shot 2020-03-2

[2020-04-03 14:01] kevinisaac commented on #89
Any update here? Using `calc(100vh - $headerheight)` but getting the same error.

[2020-04-04 23:05] minimaldesign opened #106 "improve the example in the Readme"
Maybe I'm misunderstanding what this plugin does? I'm trying to use it in Gatsby:

[code]
in my CSS I got something like that:

[code]

And this is the output:
[code]

I would have assumed both would be equal to `4px` (that's why I'm using this plugin in the first place). Is this a bug or I'm just not using this right?

Thanks!

[2020-04-08 08:20] h-sada commented on #89
@kevinisaac
https://github.com/creativetimofficial/ct-light-bootstrap-dashboard-pro-react/issues/37

use `#{}` in calc like this
`calc(100vh - #{$}headerheight)`

I've also tried this and done successfully.

[2020-04-14 02:36] chetanku commented on #89
I get this error on line "calc(100% - $icon-size-lg - 1)" , I made it calc(100% - #{$icon-size-lg} - 1) but i still get the same issue, Can someone help ? @h-sada

[2020-04-16 08:06] hanse commented on #103
We're using `create-react-app` and experienced similar regressions with **v7.0.2**.

Our CSS
[code]
used to compile to (**v7.0.1**)
[code]
but with **v7.0.2** it compiles to:
[code]
(the `/ 2` division is gone)

[2020-04-17 09:13] Sanderand opened #107 "[Bug] : css nano strips away important factors from multiplications in calc()"
**Describe the bug**
A CSS input with a `calc` function using css variables strips away factors from multiplications:

`calc(var(--foo) * 0.4 - var(--bar) * 0.4);`
... will get converted to ...
`calc(var(--foo) - var(--bar));`

... and that is incorrect. This happens using cssnanos `default` preset.

**Input given**:
[code]

**Expected output**
[code]

**Actual output**
[code]

**Repo for reproduc

[2020-04-29 19:14] julmot commented on #77
In my case it was caused by a third party library: https://github.com/sampotts/plyr/issues/1816

[2020-05-18 20:24] joseprio opened #108 "Issue when using postcss-modules-values"
Getting an error when using this module with postcss-modules-values.

Original CSS:
[code]
Error:
[code]

[2020-07-14 19:24] treyg commented on #77
I'm running into this error using gridsome with a bootstrap theme and can't seem to find the solution.

Getting ``` Expecting end of input, "ADD", "SUB", "MUL", "DIV", got unexpected "REMS"```

[2020-07-22 12:44] vishaltelangre commented on #103
I experienced a similar issue. My `postcss-calc` version is 7.0.2 as well.

It seems to be completely overlooking the subtraction and division operations.

[code]

As a workaround, I used multiplication which seems to work as intended.
[code]

[2020-08-05 03:53] csr632 opened #110 "incorrect reduction of subtraction css-variable from zero"
While https://github.com/postcss/postcss-calc/issues/88 is fixed by https://github.com/postcss/postcss-calc/pull/93  ,  this case still has bug:
`calc(0px - (var(--foo, 4px) / 2))`
is reduced into:
`calc(var(--foo, 4px)/2)`

[2020-08-05 04:13] csr632 commented on #110
Two test cases can be added:

[code]

You can see the error when you add these test cases to [__tests__](https://github.com/postcss/postcss-calc/blob/master/src/__tests__/index.js)

[2020-08-07 13:19] #110 closed

[2020-08-07 13:20] evilebottnawi commented on #108
Something wrong with your bundle, we can't solve this on our side, maybe you have invalid order of plugins

[2020-08-07 13:20] #108 closed

[2020-08-07 13:21] evilebottnawi commented on #107
Sorry for delay, feel free to send a PR, it should be easy

[2020-08-07 14:28] lsimichael opened #112 "max-content not supported?"
This line does not compile, I think because it does not understand `max-content` keyword:

`width: calc(max-content + (.5 * var(--global-button-padding-right, var(--global-button-padding-horizontal, 0px))));`

[2020-08-10 12:20] evilebottnawi commented on #112
What is output?

[2020-08-11 11:08] jpabeem commented on #77
It seems wrapping a variable inside `#{}` (fix: https://github.com/creativetimofficial/ct-light-bootstrap-dashboard-pro-react/issues/37#issuecomment-478605836 ) was able to solve my issue.

[2020-08-17 14:17] wongjn commented on #77
As per [Semigradsky's comment](#issuecomment-587312626), I think it is something to do with when there are too many parenthesis levels in the formula:

[code]

[2020-08-24 17:35] Pomax commented on #77
Hm, looking at this issue, all these `calc()` instructions aren't valid as per the CSS spec, which SCSS still has to obey, so this doesn't look like a bug in flagging errors, but a bug in how it's reporting _what_ is wrong?

- `margin-right: calc(var(--b, calc(var(--c) * 1)));` is missing "stuff" `var(--b`, as stated, it isn't a valid calc statement.
- `height: calc( calc(16px + 0.8)+calc(1.5 + 0.

[2020-08-26 07:32] Semigradsky commented on #77
`margin-right: calc(var(--b, calc(var(--c) * 1)))` and `--main-gap-mobile: calc((100vw - var(--main-width-mobile)) / 2)` are valid. You can check it just by add them via chrome devtools.

[2020-08-26 08:47] mischnic commented on #107
Seems to happen with division as well:
[code]

[2020-08-26 16:10] Pomax commented on #77
You're right - although that first one still makes no sense: those `calc()` wrappers do nothing, and a decent tool would remove them since `calc(var(--b, calc(var(--c) * 1)))` is identical to `var(--b, var(--c))`.

[2020-08-31 14:13] shrpne opened #113 "Problem with removed parenthesis from calc before var"
Original issue https://github.com/cssnano/cssnano/issues/645

This valid css

[code]
becomes invalid after cssnano compilation, because cssnano removes parenthesis around of var()

Chrome and Firefox don't respect the var() without parenthesis around it and so the code is not working as expected.

Test case: https://jsfiddle.net/z7bsn1r8/4/

[2020-08-31 14:47] Semigradsky commented on #113
Is it the browser bug? Why parenthesis needed around of var()?

[2020-08-31 15:39] shrpne commented on #113
I believe it's not a browser bug. Parenthesis are needed because of math:
100 / (16/9) = 56.25
100 / 16/9 = 0.69

[2020-09-01 11:10] #107 closed

[2020-09-01 11:42] Semigradsky commented on #112
@lsimichael looks like you can't calc with an intrinsic unit and an extrinsic unit together (auto + 1rem, max-content * 2, etc)

[2020-09-01 17:39] coreyworrell commented on #107
Unfortunately #114 does not fix the following case (`--fluid-bp`):

Source:

[code]

7.0.4 outputs:

[code]

The output should instead be:

[code]

`postcss-calc` is removing the necessary parentheses and affecting the operator precedence.

[2020-09-01 17:47] evilebottnawi commented on #107
@coreyworrell please open a new issue and feel free to send a fix

[2020-09-01 18:55] coreyworrell opened #115 "Operator precedence is not preserved"
Source:

[code]

7.0.4 outputs:

[code]

The output should instead be:

[code]

postcss-calc is removing the necessary parentheses and affecting the operator precedence.

[2020-09-01 18:56] coreyworrell commented on #107
@evilebottnawi opened #115 just now. I am not familiar enough with the source code to send fix but hopefully someone else will be.

[2020-09-01 18:59] mischnic commented on #115
After some testing, I came up with this. But I'm not sure if it's even correct and not over engineered:
[code]
This does fix your case but some other existing test cases change. For now, I don't have time to figure out why/if they should change

[2020-09-01 20:42] coreyworrell commented on #113
Probably related #115

[2020-09-02 05:42] evilebottnawi commented on #115
@mischnic Can you send a PR and we will look what we break, I can help with fixing

[2020-09-03 15:54] alexander-akait opened #117 "broken example"
[code]

Ref: https://github.com/cssnano/cssnano/issues/949

[2020-09-17 12:00] philwolstenholme commented on #115
I think this related to #91 too

[2020-09-17 12:44] mischnic commented on #115
Given that CSS variables are really just text replacements and they don't have implicit parenthesis around them (like variables in a mathematical sense), I think minification of expressions with `var()` need to be a lot less aggressive.

[2020-09-21 11:04] basher commented on #115
I have same issue, which I only spotted today on production sites with our responsive iframe containers, where we set an inline HTML `style` attribute with correct iframe aspect ratio, and pass that to Sass to evaluate `padding-top` as per [this CSS Tricks article](https://css-tricks.com/responsive-iframes/):

[code]

[code]

Output in **DEV mode** with `Parcel start`:
[code]

Output in **PROD mod

[2020-09-21 16:28] drolsen opened #118 "Direct CSS input"
Using this plugin as a process chain in POSTCSS configuration is great, however would be even better to be able to pass the plugin some CSS (decl preferable) to parse / reduce as well.

We are building a few internal plugins / methods that allow calc() usage, but would require special handling and being able to parse specifics.

Thanks!

[2020-09-21 20:06] Semigradsky commented on #118
This plugin has used https://github.com/MoOx/reduce-css-calc before, you can try it.

[2020-09-22 18:29] maranomynet opened #119 "3-level deep var()s inside a calc() throw an error"
This valid CSS code:

[code]

Triggers this error in `postcss-calc@7.0.4`:

[code]

Whereas this gets parsed correctly:

[code]

[2020-09-22 18:33] evilebottnawi commented on #119
PR welcome

[2020-09-30 06:42] jerryyxu opened #120 "Compile wrong with CSS custom properties"
Version:
postcss: `7.0.35`
postcss-calc: `7.0.4`

Input:
[code]
Output:
[code]
Expected:
[code]

[2020-10-03 12:54] csr632 opened #122 "wrong/insufficient reduction"
These test cases fail with postcss-calc@7.0.4:

[code]

[2020-10-03 12:58] evilebottnawi commented on #122
Do you fix it in https://github.com/postcss/postcss-calc/pull/121?

[2020-10-03 12:59] csr632 commented on #122
Yes, I try to demonstrate the issue here :)

[2020-10-03 13:38] #120 closed

[2020-10-03 13:38] #122 closed

[2020-10-03 13:46] evilebottnawi commented on #106
It is expected, because CSS variables are hoisted and we can't inline them values, you can create postcss plugin for this, but it is unsafe, you can define CSS variables in other files/in HTML using `style`/using JS and etc, also `--space-base` can be calc too

[2020-10-21 06:55] crabkiller commented on #106
![image](https://user-images.githubusercontent.com/4629430/96683839-4605fe80-13ad-11eb-90ff-4587f5bfccbc.png)
I think this may be wrong as `README.md` example shows here.

[2020-10-30 09:19] dangelion commented on #115
Same problem here. This bug is serious since it completely breaks calculation then the interface.
Please someone can take a look to this?
Thanks!

[2020-10-30 09:27] dangelion commented on #91
Confirm the bug. Is there any way to solve?

[2020-11-04 10:39] depoulo opened #123 "Support min, max, clamp"
See also #117.

See https://developer.mozilla.org/en-US/docs/Web/CSS/clamp

It would really suck if I cannot use min, max, and clamp, even though current browsers support them, just because the PostCSS transform does not (in my setup I'm using this transform to serve legacy browsers).
Happy to give it a go myself if you signal that you'd be willing to add this.

[2020-11-04 11:56] evilebottnawi commented on #123
PR welcome

[2020-11-10 14:43] ThornWalli opened #124 "Simple var multiplication breaks"
Have a problem with the current version `7.0.5`

This calc can not be solved anymore:

`left: calc(-2 * var(--gutter-width));`

No problems with version `7.0.4`.

`--gutter-width` is `15px`

[2020-12-01 15:37] janlent1 commented on #89
@alexander-akait

Still having this error when using  CssMinimizerPlugin and having calc(100% - 10px)
Do you might have an idea why this is the case?
Thanks and Best,
Jan

[2020-12-03 15:40] csr632 commented on #124
How could `calc(-2 * var(--gutter-width))` be further simplified by postcss-calc ?  It can't know how much is `var(--gutter-width)` at the build time!

What is the behaviour of 7.0.4?

[2020-12-07 17:34] jojoghaida commented on #77
Is this issue fixed? I resolve this issue for my app a year ago by adding:

but I've update some packages and now this issue is back. I still have the above in my package.json. My issue is only happening in react-scripts-build. I'm running postcss v8.1.14 and postcss-calc v7.0.5...

This is really causing me a lot of problems if someone can point me to a new way of disabling the parser on react-sc

[2020-12-23 09:59] joneff opened #127 "Space between multiplication and division operators is clamped with custom properties"
Using postcss-calc v7.0.5

[code]

While multiplication and division still work, various tools are reporting it is invalid.

[2020-12-24 14:47] Avol-V opened #128 "Move postcss to peerDependencies"
Move postcss to peerDependencies like in other plugins.

[2020-12-24 22:08] Semigradsky commented on #128
#125

[2021-01-03 16:29] Semigradsky commented on #128
Done in https://github.com/postcss/postcss-calc/releases/tag/v8.0.0

[2021-01-03 16:29] #128 closed

[2021-01-15 14:48] heyymarco opened #130 "error compiling valid calc expression"
this css/scss syntax below is valid when compiled using css preprocessor like sass, but postcss-calc thinks it's wrong:

[code]

[code]

[2021-02-02 15:46] dangelion commented on #113
Any news on this huge bug, it's very blocking...

[2021-02-04 10:01] dangelion commented on #91
I solved removing postcss-calc and using this:
https://github.com/nico-jacobs/postcss-remove-nested-calc
Works like a charm. It'll be good if this library could be recognized as official postcss plugin. Or someone could be inspired from it to fix the bug in postcss-calc.

[2021-02-19 14:53] basher commented on #115
I've given up waiting for a fix for this.

I'm now using the new standard CSS `aspect-ratio` property in supported browsers, and a hardcoded `padding-top` hack without `calc()` for older browsers.

[2021-03-05 08:34] thisVioletHydra opened #131 "FATAL Nuxt build error"
### package.json
[code]

### build:
[code]

### postcss
[code]

### terminal

[code]

[2021-03-05 09:29] chrsalbert commented on #104
Seems to be still an issue. But the workaround works for me!
Will it get fixed soon?

[2021-04-26 02:47] perqin opened #132 "Floating number with unknown unit can't be parsed"
postcss-calc leaves integer with unknown unit untouched, but when it comes to floating number, it fails.

[code]

Here's the error log:

[code]

[2021-06-07 19:59] thisVioletHydra commented on #131
rip ☠

[2021-06-07 19:59] #131 closed

[2021-08-03 16:21] saschaeggi commented on #124
Having the same problem with 7.0.5

[2021-09-13 14:04] manokara opened #141 "Fails with SCSS variables"
The following snippet fails:

[code]

The error points exactly to the dollar sign. I can work around it with normal CSS variables:

[code]

For context, `postcss` is being used by  `cssnano` which is being used by `vue-cli`. It seems to me that `postcss-calc` is being run before SCSS variables are evaluated. I'm not sure if this is intended or is something this package has to explicity account for

[2021-09-13 14:06] alexander-akait commented on #141
We don't support SCSS syntax, only CSS

[2021-09-13 14:08] manokara commented on #141
Ah, I see. So this is a non issue then. Thanks.

[2021-09-13 14:08] #141 closed

[2021-09-29 11:40] frans-vectra opened #142 ""ParserError: Syntax Error" with negative multiplication and vars"
Hi, I've been getting a parse syntax error while trying to make a production build of [Vue Storefront 2 Magento theme](https://github.com/vuestorefront/template-magento) project.

The error specifically occurs when trying to parse something like `calc(var(--my-var) * -1)`;

e.g.

[code]

By just changing the order of the terms in the calc statement it works correctly;

e.g.

[code]

### Environmen

[2021-12-03 02:36] yisibl opened #144 "Please do not calculate the percentage in calc()"
See: https://github.com/evanw/esbuild/issues/1821

[2022-01-03 17:17] chainalert-bot opened #152 "ChainAlert: npm version 8.1.0 has new or changed maintainer"
Hello postcss-calc maintainers,

[ChainAlert](https://github.com/Checkmarx/chainalert-github-action) has detected a new maintainer in a [suspicious new release](https://npmjs.com/package/postcss-calc) of "postcss-calc" version "8.1.0" on npm.

#### New Maintainers:

- [ludovicofischer](https://www.npmjs.com/~ludovicofischer)

#### Removed Maintainers:

This is an automated notification by [ChainAl

[2022-01-03 17:19] alexander-akait commented on #152
Weird service :confused:

[2022-01-03 17:21] ludofischer commented on #152
Yes, I think they need to review their heuristics.

[2022-01-03 17:21] #152 closed

[2022-01-07 20:01] ludofischer commented on #101
Not enough info to reproduce, the bootstrap code pointed at in one comment compiles as of postcss-calc 8.2.0 Since https://github.com/postcss/postcss-calc/pull/137 postcss-calc should not throw when encountering invalid CSS.

[2022-01-07 20:01] #101 closed

[2022-01-07 20:10] ludofischer commented on #124
No errors with 8.2.

[2022-01-07 20:10] #124 closed

[2022-01-07 20:17] ludofischer commented on #118
I think standalone usage is out of scope, but the project linked in the previous comment does seem to work as a substitute.

[2022-01-07 20:17] #118 closed

[2022-01-07 20:34] ludofischer commented on #89
Can't get any error with `calc(100% -10px)` on postcss-calc 8.2. Other issues seem related to passing Sass to postcss-calc without replacing the Sass variables first. Crash should be fixed in https://github.com/postcss/postcss-calc/pull/137

[2022-01-07 20:34] #89 closed

[2022-01-07 20:57] ludofischer commented on #87
I cannot find a clear reproduction or even what the issue is. `calc(-1 * var(--space-xl))` works correctly. The original issue does not seem related to nested variables, anyway https://github.com/postcss/postcss-calc/issues/91 is keeping track of that.

[2022-01-07 20:57] #87 closed

[2022-01-07 21:20] ludofischer commented on #132
In 8.2, it still fails to parse, but at least does not crash.

[2022-01-08 15:04] alexander-akait commented on #124
@ludofischer some problems with parsing can still exists, will be great to track them, maybe in one issue

[2022-01-09 20:15] ludofischer commented on #142
Strangely I cannot reproduce this using only postcss-cli.

[2022-01-09 20:21] ludofischer commented on #127
If the output works, wouldn't this be an issue with the tools that report it as invalid, rather then postcss-calc?

[2022-01-09 20:22] ludofischer commented on #123
Duplicate of #117

[2022-01-09 20:22] #123 closed

[2022-01-09 20:23] ludofischer commented on #119
Still throws a warning even though it does not crash in 8.2

[2022-01-09 20:36] ludofischer commented on #127
The spec mentions that space around the multiplication and division operator is not required: https://drafts.csswg.org/css-values/#calc-syntax

[2022-01-09 20:38] ludofischer commented on #124
I have added [bad-parser](https://github.com/postcss/postcss-calc/labels/bad-parser) and [bad-output](https://github.com/postcss/postcss-calc/labels/bad-output) labels to track the bugs.

[2022-01-09 20:47] ludofischer commented on #103
All the examples produce the expected output in 8.2. This was probably a duplicate of #107 fixed in 7.0.4

[2022-01-09 20:47] #103 closed

[2022-01-09 20:49] ludofischer commented on #127
Since the output conforms to the spec and works as expected, I would close this as not a bug in postcss-calc.

[2022-01-09 20:49] #127 closed

[2022-01-09 20:56] ludofischer commented on #106
I think the README example is confusing as it uses the [postcss-custom-properties](https://github.com/postcss/postcss-custom-properties) to replace the variables. postcss-calc alone will not do it.

[2022-01-09 23:32] ludofischer commented on #132
Moving the `UNKNOWN_DIMENSION` before `NUMBER` in the lexer solves this issue, but then it prevents numbers with exponents to be reduced.

[2022-01-10 00:23] ludofischer commented on #113
It's harder to fix than it seems, because the current parser does not distinguish:
[code]
from
[code]

[2022-01-10 10:52] alexander-akait commented on #117
@ludofischer We should support `min`/`max`/etc as top function too, i.e. `width: max(100px, 200px)`

[2022-01-10 11:38] ludofischer commented on #117
@alexander-akait Do you mean `max(100px, 200px) -> 200px`. That would be an additional feature, right? I don't think it solves the current bug.

[2022-01-10 11:41] alexander-akait commented on #117
Yes, it is feature, now we have more math in CSS, so will be great to support it too

[2022-01-10 19:37] ludofischer commented on #91
So the first issue is already fixed in 8.2, while the issue in https://github.com/postcss/postcss-calc/issues/91#issuecomment-605059796 is a duplicate of #113

[2022-01-10 19:37] #91 closed

[2022-01-10 21:06] #113 closed

[2022-01-10 21:06] #115 closed

[2022-01-11 13:42] #106 closed

[2022-02-07 08:30] dzcpy commented on #104
Any updates?

[2022-02-07 12:16] ludofischer commented on #104
Since https://github.com/postcss/postcss-calc/pull/137 it should just warn instead of crashing. Does is still crash for you? The underlying problem is that the parser is incomplete, but to fix it we would need to duplicate the code that's already in the existing parsers (postcss-value-parser and postcss-selector-parser) so I would prefer to find a way to refactor so we don't parse multiple times (

[2022-06-23 21:50] bwstoppel commented on #77
In case this helps anyone, `calc(var(--base-padding) * -1)` throws an error whereas `calc(-1 * var(--base-padding))` does not.

[2022-06-24 11:23] ludofischer commented on #77
But does it just print an error message or does it crash?

[2022-06-24 13:41] bwstoppel commented on #77
It fails and prints a generic error. Something like "failed at line 1 column 26." I don't have the error in front of me anymore. The error message was not accurate. I found the issue by removing and adding back styles until I narrowed it down to the culprit.

[2022-10-13 08:37] maranomynet commented on #104
This was previously reported as #119 (I'm closing that one as duplicate)

[2022-10-13 08:38] maranomynet commented on #119
This is reported and being discussed in #104

[2022-10-13 08:38] #119 closed

[2022-11-09 13:42] toptalo commented on #142
I have resolve this with moving zero to start
left: calc(0px - (var(--full-width) - 100%) / 2);
¯\_(ツ)_/¯

get en build error in `Nuxt` with `yarn build`